.background {
	background-image: linear-gradient(106.37deg, #ffe1bc, #ffcfd1, #f3c6f1);
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Inter', sans-serif;
}
.glass-bg {
	display: grid;
	height: auto;
	width: 97%;
	border-radius: 2rem;
	background-color: rgba(255, 255, 255, 0.54);
	overflow: hidden;
	grid-template-columns: 11rem auto;
	box-shadow: black;
}
