.Table{
    margin-top: 50px;
    width: 80%;
    margin-left: 5%;
}

.add{
  width: 10%;
  margin-left: 3%;
}
.delete{
  width: 10%;
  margin-left: 2%;
}
.MuiTableRow-root > * {
   
    padding: 10px;
  }
  
  .MuiTableRow-root.MuiTableRow-head > * {
    font-weight: bold !important;
  }
  
  .Table td,
  th {
    border: none !important;
  }
  
  .Table:first-child {
    border-radius: 0.7rem !important;
  }
  .status {
    padding: 8px;
    border-radius: 9px;
  }
  
  .Details {
    color: red !important;
  }
  
  @media screen and (max-width: 1200px) {
    .Table {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 40rem;
    }
  }
  
  
  @media screen and (max-width: 768px) {
    .Table{
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 23rem;
    }
  }